@charset "UTF-8";

/* em HTML é id = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)
   
*/
body {
    background-color: rgb(201, 218, 201);
}
h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}


h2{
    color: rgb(73, 109, 71);
}

.basico{
        color: rgb(73, 109, 71);

}
.intermediário{
    color: rgb(238, 252, 44);
}
.avançado{
    color: rgb(255, 2, 2);
}