@charset "UTF-8";


        body {
            background-color: cadetblue;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
        }
        h1{
            color: blue;
        }
        h2{
            color: midnightblue;
        }
        p{
            text-align: justify;
        }